button{
    display: block;
    width: 100%;
    text-align: center;
    border: 0;
    background-color: transparent;
    padding:0.5rem;
    font-size: 14px;
    font-weight: bold;
}
    button.active{
        background-color: #0075c4;
        color: white;
    }
    button:hover{
        background-color: #f3f3f3;
    }
table tr td{
    padding: 0;
}
table{
    margin-bottom: 0px !important;
    
}
table td{
    width: 25%;
}