.edit-card{
    box-sizing: border-box;
    padding:5% 10%;
    border-top: 1px solid #ccc;
    width: 100%;
    position: absolute;
    bottom: 0;
    left:0;
}
button{
    display: block;
    width: 100%;
    text-align: center;
    border: 0;
    background-color: transparent;
    padding:0.5rem;
    font-size: 14px;
    font-weight: bold;
}
    button.active{
        background-color: #007bff;
        color: white;
    }
table tr td{
    padding: 0;
    width: 25%;
}