<nav class="navbar fixed-top navbar-dark bg-dark">
    <div class="header-wrap">
      <a class="navbar-brand" href="#">Point Of Sale</a>
      <button class="btn btn-sm btn-outline-secondary btn-restaurant"
      (click)="setTable()">restaurant pos</button>
    </div>
    <div class="headre-tabs">
      <ul>
        <li *ngIg="table">
          <a class="table">
            <span><i class="fa fa-arrow-left"></i></span>
            <span>طبقه اول</span>
            <span> (T1) </span>
          </a>
        </li>
        <li *ngFor="let invoice of invoices; let last = isLast" 
            [class.selected]="invoice === selectedInvoice"
            (click)="onClick(invoice)">
          <a class="session">
            <span class="id rounded-circle">{{invoice.id}}</span>
            <span class="date">{{invoice.date | date: 'H:mm' }}</span>
          </a>
        </li>
      </ul>
      <div class="d-inline-flex btns"
      *ngIf="invoices.length !==0">
        <button class="btn btn-dark" (click)="addSession()">+</button>
        <button class="btn btn-dark" (click)="removeSession(selectedInvoice)">-</button>
      </div>
    </div>
</nav>