<div class="edit-customer">
    <form autocomplete="off" #newForm="ngForm" novalidate (ngSubmit)="editCustomer(newForm.value)">
        <div class="row">
            <div class="col-lg-6">
                <!--<div class="form-group">
                    <div>
                        <img class="profile-img" src="http://placehold.it/128x128" >
                    </div> 
                </div>-->
                <div class="row form-group">
                    <div class="col-md-2"><label for="firstName">نام</label></div>
                    <div class="col-md-10">
                        <input id="firstName" name="customerFirstName" class="form-control"
                        placeholder="نام..."
                        [(ngModel)]="data.firstName" required>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-2"><label for="lastName">نام خانوادگی</label></div>
                    <div class="col-md-10">
                        <input id="lastName" name="customerLatsName" class="form-control"
                        placeholder="نام خانوادگی..."
                        [(ngModel)]="data.lastName" required>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-2"><label for="phone">شماره همراه</label></div>
                    <div class="col-md-10">
                        <input id="phone" name="customerPhone" class="form-control"
                        placeholder="شماره همراه..."
                        [(ngModel)]="data.phone" required>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="row form-group">
                    <div class="col-md-2"><label for="state">نام استان</label></div>
                    <div class="col-md-10">
                        <select id="state" class="form-control" name="customerState"
                        [(ngModel)]="data.add.state">
                            <option>تهران</option>
                        </select>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-2"><label id="city">نام شهر</label></div>
                    <div class="col-md-10">
                        <select id="city" class="form-control" name="customerCity"
                        [(ngModel)]="data.add.city">
                            <option>تهران</option>
                            <option>دماوند</option>
                            <option>شهرری</option>
                        </select>
                </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-2"><label id="add">آدرس</label></div>
                    <div class="col-md-10">
                        <input type="text" class="form-control" name="customerStreet"
                    [(ngModel)]="data.add.street">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <google-map
                width="100%"
                height="250px"
                [zoom]="zoom"
                [center]="center">
                    <map-marker 
                    markerDraggble = "true"
                    [position] = "markerPosition"></map-marker>
                </google-map>
            </div>
        </div>
        <div class="row" style="margin-top:10px">
            <div class="col-lg-12">
                <div class="text-left">
                    <span class="btn-placeholder">
                        <button class="btn-sm btn-outline-secondary" 
                        type="button"
                        (click)="onCencel()">لغو</button>
                    </span>
                    <span class="btn-placeholder">
                        <button class="btn-sm btn-outline-primary" 
                        type="submit"
                        [disabled]="newForm.invalid" >ویرایش اطلاعات</button>
                    </span>
                </div>
            </div>
        </div>
    </form>
</div> 