.container{
    direction: rtl;
    text-align: right;
}
.customer-bar{
    padding-top: 0.5rem;
    padding-bottom: 1rem;
}
table{
    background-color: white;
}
    table thead{
        font-size: 15px;
    }
    table tbody tr{
        cursor: pointer;
    }
    table tbody tr th{
        font-weight: normal;
        font-style: normal;
    }
.customer-info,
.edit-customer{
    border: 1px solid #ccc;
    border-bottom: 3px solid #0075c4;
    padding: 1rem;
    color: #555;
}
button span{
    padding: 0px 0.2rem;
}
.active{
    background-color: #0075c4 !important;
    color: white;
}
.zoomIn,
.zoomOut{
    position: absolute;
    width: 42px;
    height: 42px;
    top:60px;
    right:24px;
    background-color: white;
    border: 1px solid #ccc;
    font-size: 32px;
    line-height: 32px;
    border-radius: 3px;
}
.zoomOut{
    top: 110px;
}