.container{
    direction: rtl;
    text-align: right;
}
.customer-bar{
    padding-top: 0.5rem;
    padding-bottom: 1rem;
}
table{
    background-color: white;
    /* margin: 1rem 0px; */
}
    table thead{
        font-size: 15px;
    }
    table tbody tr{
        cursor: pointer;
    }
    table tbody tr th{
        font-weight: normal;
        font-style: normal;
    }
.customer-info,
.edit-customer{
    border: 1px solid #ccc;
    border-bottom: 3px solid #007bff;
    padding: 1rem;
    color: #555;
}
button span{
    padding: 0px 0.2rem;
}
.active{
    background-color: #007bff !important;
    color: white;
}