<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h6>افزودن گروه جدید</h6>
        </div>   
    </div>
    <hr>
    <form #addKey="ngForm" (ngSubmit)="onAdd(addKey.value)">
         <div class="row">
            <div class="col-md-12">           
                <div class="form-group">
                    <label for="title">عنوان</label>
                    <input 
                    type="text"
                    class="form-control"
                    id="title"
                    required
                    ngModel
                    name="title"
                    cdkFocusInitial
                    />
                </div>
                <div class="form-group">
                    <label for="item">لیست محصولات</label>
                    <select
                    id="item"
                    class="form-control"
                    required
                    ngModel
                    name="items"
                    multiple
                    >
                        <option *ngFor = "let product of products" 
                        [value]= "product">{{product.name}}</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
            <button  
            class="btn-sm btn-primary"
            type="submit"
            [disabled]="!addKey.valid"
            >افزودن گروه</button>
        |
            <button class="btn-sm btn-dark" (click)="onCancel()">لغو</button>
            </div>
        </div>
    </form>
</div>