<div class="container" style="margin-top: 65px;">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div style="margin: 0.5rem 0 0.75rem">
                <button class="btn btn-primary" style="width:100%">چاپ فاکتور</button>
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>

    <div class="row">
        <div class="col-md-4">
            
        </div>
        <div class="col-md-4">
            <table class="table">
                <tr>
                    <td class="text-center">
                        <div>لوگوی شما <i class="fa fa-photo"></i></div>
                        <div>اطلاعات فروشگاه</div>
                        <div>{{date |  date:'medium'}}</div>
                    </td>
                </tr>
                <tr>
                    <td class="orders">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <td width='50%'>نام کالا</td>
                                    <td class="text-center" width='20%'>تعداد</td>
                                    <td width='30%' class="text-center">مجموع</td>
                                </tr>
                            </thead>
                            <tr *ngFor="let order of factor.orders"> 
                                <td>
                                    <div>{{order.name}}</div>
                                    <div><span>فی: </span>
                                        {{order.price | number:'1.0'}}</div>
                                </td>
                                <td class="text-center">{{order.unit}}</td>
                                <td class="text-center">{{order.totalPrice | number:'1.0'}}</td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table class="table table-bordered">
                            <tbody>
                                <tr>
                                    <td>مبلغ فاکتور</td>
                                    <td>{{factor.total | number:'1.0'}}</td>
                                </tr>
                                <tr>
                                    <td>تخفیف</td>
                                    <td>0</td>
                                </tr>
                                <tr>
                                    <td>مبلغ قابل پرداخت</td>
                                    <td class="font-weight-bold">{{factor.total | number:'1.0'}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div *ngFor="let line of factor.paymentLines">
                            <span>{{line.type}}</span>
                            <span>{{line.tendered}}</span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div>
                            <span>باقیمانده: </span>
                            <span>{{factor.charge}}</span>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>
