<div class="container" style="margin-top: 65px;">
    <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
            <div class="mt-1 mb-2">
                <button (click)="print()"
                class="btn btn-sm btn-outline-dark" 
                style="width:100%">چاپ فاکتور</button>
            </div>
        </div>
        <div class="col-md-4">
            <div class="mt-1 mb-2 text-right">
                <button class="btn btn-sm btn-primary"
                (click)="nextInvoice(factor.invoiceId)">صورتحساب بعدی</button>
            </div>
        </div>
    </div>
    <div class="row border">
        <div class="col-md-4">
        </div>
        <div class="col-md-4 border-left border-right">
            <h6 class="text-center my-2">باقیمانده: {{factor.change}} تومان</h6>
            <table class="table print-container" *ngIf="factor">
                <tr class="mb-2 border-bottom">
                    <td class="text-center">
                        <div>لوگوی شما <i class="fa fa-photo"></i></div>
                        <div>اطلاعات فروشگاه</div>
                        <div>{{date |  date:'medium'}}</div>
                    </td>
                </tr>
                <tr>
                    <td class="orders">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <td width='50%'>نام کالا</td>
                                    <td class="text-center" width='20%'>تعداد</td>
                                    <td width='30%' class="text-center">مجموع</td>
                                </tr>
                            </thead>
                            <tr *ngFor="let order of factor.orders"> 
                                <td>
                                    <div>{{order.name}}</div>
                                    <div><span>فی: </span>
                                        {{order.price | number:'1.0'}}</div>
                                </td>
                                <td class="text-center">{{order.unit}}</td>
                                <td class="text-center">{{order.totalPrice | number:'1.0'}}</td>
                            </tr>
                        </table>
                        <div>تعداد ردیف: {{numberOfOrders}}</div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table class="table table-bordered">
                            <tbody>
                                <tr>
                                    <td>مبلغ فاکتور</td>
                                    <td>{{factor.total | number:'1.0'}}</td>
                                </tr>
                                <tr>
                                    <td>تخفیف</td>
                                    <td>0</td>
                                </tr>
                                <tr>
                                    <td>مبلغ قابل پرداخت</td>
                                    <td class="font-weight-bold">{{factor.total | number:'1.0'}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table class="table table-bordered">
                            <tbody>
                                <tr *ngFor="let line of factor.paymentLines">
                                    <td *ngIf="line.due != 0">{{line.type}}</td>
                                    <td *ngIf="line.due != 0">{{line.tendered | number:'1.0'}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr class="text-left border-bottom">
                    <td>
                        <div>
                            <span>باقیمانده: </span>
                            <strong>{{factor.change}}</strong>
                        </div>
                    </td>
                </tr>
                <tr class="text-center">
                    <td colspan="2">
                        <div>از خرید شما سپاسگزاریم</div>
                        <div class="mb-2">به امید دیدار مجدد شما در «نام فروشگاه»</div>
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-md-4">
        </div>
    </div>
</div>
