<div class="cart-side" style="background-color: #fff">
    <div class="cart">
        <div class="container cart-placeHolder">
            <div class="row" 
            *ngIf = "selectedInvoice.orders.length === 0; else cartHolder">
                <div class="col-md-12 empty-cart">
                    <i class="fa fa-shopping-cart"></i>
                    <p>سبد خرید شما خالی است!</p>
                </div>
            </div>
            <ng-template #cartHolder class="row">
            <div class="row">    
                <div class="col-md-12">
                    <div class="cart-item" 
                    *ngFor = "let order of selectedInvoice.orders" 
                    (click)="onSelect(order)"
                    [class.selected]= "order === selectedOrder">
                    <!-- [ngClass]="{selectedItem: order == selectedItem }" -->
                        <div class="clearfix">
                            <div class="float-right">{{order.name}}</div>
                            <div class="float-left font-weight-bold">
                                {{order.totalPrice | number:'1.0'}}
                            </div>
                        </div>
                        <div class="item-detail">
                            <span>تعداد:</span> {{order.unit}}
                            /
                            <span>قیمت واحد:</span> {{order.price | number:'1.0'}}
                        </div>
                        <div *ngIf="order.discount">
                            <span>تخفیف:</span>{{order.discount}}%
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="total">
                        <span>جمع کل: </span>
                        <span>{{selectedInvoice.amount | number:'1.0'}}</span>
                    </div>
                    <div class="tax">
                        <span>مالیات: </span>
                        <span>0</span>
                    </div>
                </div>
            </div>
            </ng-template>
        </div>
    </div>
    <!-- edit cart options -->
    <div class="edit-card px-4 py-2">
        <app-actions></app-actions>
        <table class="table">
            <tr>
                <td width="35%">
                    <div class="text-center ml-3" style="padding-top: 2px;">
                        <button class="btn btn-outline-primary btn-block cart-customer" 
                        (click)="addCustomer()">
                            <div>
                                <i class="fa fa-user-circle"></i>
                            </div>
                                <span *ngIf="customer">
                                    {{customer.firstName}} {{customer.lastName}}
                                </span>
                            <span *ngIf="!customer">انتخاب مشتری</span>
                            </button>
                    </div>
                    <div class="ml-3" style="padding-top: 2px;">
                        <button class="btn btn-outline-primary btn-block payment" (click)="pay()">
                            <i class="fa fa-arrow-circle-left"></i>
                            <div>پرداخت</div>
                        </button>
                    </div>
                </td>
                <td width="65%">
                    <app-edit-cart [data]="selectedOrder"></app-edit-cart>
                </td>
            </tr>
        </table>
    </div>
</div>

