.cart-side{
    position: fixed;
    width: 30%;
    max-width: 30%;
    top: 0;
    left: 0;
    bottom: 0;
    border-right: 1px solid #ccc;
    direction: rtl;
    text-align:right;
}
.cart-item{
    border-bottom: 1px solid #ccc;
    padding: 10px;
    font-size: 14px;
}
    .item-detail{
        color: #888;
        font-size: 12px;
    }
.selectedItem{
    background-color: #eee;
}