<div class="cart-side" style="background-color: #fff">
    <div class="container cart-placeHolder">
        <div class="row border-bottom">
            <div (click)="addCustomer()" class="cart-customer">
                <div class="pull-right"><i class="fa fa-user-circle"></i></div>
                <div class="name pull-right" *ngIf="!assignedCustomer">انتخاب مشتری</div>
                <div class="name pull-right" *ngIf="assignedCustomer">{{assignedCustomer.name}}</div>
            </div>
        </div>
        <div class="row" *ngIf = "orders.length === 0">
            <div class="col-md-12 empty-cart">
                <i class="fa fa-shopping-cart"></i>
                <p>سبد خرید شما خالی است!</p>
            </div>
        </div>
        <div *ngFor = "let invoice of invoices">
            <div class="row">
                <div class="col-md-12">
                    <div class="cart-item" 
                        *ngFor = "let order of orders" 
                        (click)="onSelect(order)"
                        [ngClass]="{selectedItem: order == selectedItem }">
                        <div class="clearfix">
                            <div class="float-right">{{order.name}}</div>
                            <div class="float-left font-weight-bold">
                                {{order.totalPrice | number:'1.0'}}
                            </div>
                        </div>
                        <div class="item-detail">
                            <span>تعداد:</span> {{order.unit}}
                            /
                            <span>قیمت واحد:</span> {{order.price | number:'1.0'}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" *ngIf = "orders.length > 0">
                <div class="col-md-12">
                    <div class="total">
                        <span>جمع کل: </span>
                        <span>{{invoice.amount | number:'1.0'}}</span>
                    </div>
                    <div class="tax">
                        <span>مالیات: </span>
                        <span>0</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-edit-cart [data]="selectedItem"></app-edit-cart>

    <!-- <div class="container border-top" style="margin-top: 25px">
        <div class="row">
        </div> 
        <div class="row">
            <app-payment></app-payment>
        </div>
    </div> -->
</div>
