.add-customer{
    border: 1px solid #ccc;
    border-bottom: 3px solid #007bff;
    padding: 1rem;
    color: #555;
}
.btn-placeholder{
    display: inline-block;
    padding: 0px 0.3rem;
}
label{
    display: block;
    line-height: 2rem;
    text-align: left;
}
input,
select{
    font-size: 14px;
}
.zoomIn,
.zoomOut{
    position: absolute;
    width: 42px;
    height: 42px;
    top:60px;
    right:24px;
    background-color: white;
    border: 1px solid #ccc;
    font-size: 32px;
    line-height: 32px;
    border-radius: 3px;
}
.zoomOut{
    top: 110px;
}