<!-- <div class="product-side">
    <div class="container">
        <div class="row" style="margin-top: 55px">
            <div class="col-md-12 product-bar">
                <div class="d-flex">
                    <div class="ml-auto">همه محصولات</div>
                    <div class="search-placeholder">
                        <span class="icon-placeholder">
                            <i class="fa fa-search" (click)="searchInput.focus()"></i>
                        </span>
                        <input type="text" #searchInput 
                        name="search" 
                        placeholder="جستجوی محصول" 
                        [(ngModel)]="searchTxt">
                        <span class="icon-placeholder">
                            <i class="fa fa-times" (click)="clearSearch()"></i>
                        </span>
                    </div>
                </div> 
            </div>
        </div>
        <div *ngIf ="( products | filter : searchTxt) as result">
            <div class="row" *ngIf="result.length === 0">
                <div class="col-md-12">
                    <div class="alert alert-dark" role="alert">نتیجه ای یافت نشد!</div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2 list-key">
                    <app-quickkey (click)="addKey()"></app-quickkey>
                </div>
                <div class="col-md-2 list-item" 
                    *ngFor = "let product of result"
                    (click) = "addToCart(product)">
                    <a>
                        <span><img src="{{product.imageUrl}}" /></span>
                        <span class="name">{{product.name}}</span>
                        <span class="price">{{product.price | number:'1.0'}} T</span> 
                    </a>
                </div>
            </div>   
        </div> 
        <app-categories [data]="categories"></app-categories>
    </div>
</div> -->
<div class="product-side">
    <div class="container" style="margin-top: 58px">
        <div class="row product-bar">
            <div class="col-md-8">
                <div class="categories">
                    <div class="border-left" (click)="removeFilter()"><i class="fa fa-home"></i></div>
                    <div class="border-left text-center selectedCat" 
                    *ngIf="searchCat">{{searchCat}}</div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="border rounded-pill bg-white text-center" style="margin-top: 6px;">
                    <i class="fa fa-search" (click)="searchProduct.focus()"></i>
                    <input type="text" 
                    placeholder="جستجوی محصولات" 
                    class="text-right p-2 border-0 w-75"
                    #searchProduct
                    [(ngModel)]="searchTxt"> 
                </div>
            </div>
        </div>
        <div class="row category_bar">
            <app-categories [data]="categories" 
            (eventClick) = "getCategory($event)"
             style="width: 100%;"></app-categories>
        </div> 
        <!--Search-->
        <div *ngIf = "products as result">
            <div class="row" *ngIf="result.length === 0">
                <div class="col-md-12">
                    <div class="alert alert-dark" role="alert">نتیجه ای یافت نشد!</div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-2 col-md-3 col-sm-4 col-12">
                    <div class="list-key">
                        <app-quick-key (click)="addCategory()"></app-quick-key>
                    </div>
                </div>
                <div *ngFor = "let product of result | filter: searchCat: 'category' | search: searchTxt"
                (click) = "addToCart(product)"
                class="col-lg-2 col-md-3 col-sm-4 col-12">
                <div class="list-item">
                    <img src="{{product.imageUrl}}" />  
                    <div class="name">{{product.name}}</div>
                    <span class="badge badge-danger">{{product.price | number:'1.0'}}</span>
                </div>
                </div>              
            </div>
        </div>
    </div>
</div>
