<div class="product-side">
    <div class="container">
        <div class="row" style="margin-top: 55px">
            <div class="col-md-12 product-bar">
                <div class="d-flex">
                    <div class="ml-auto">همه محصولات</div>
                    <div class="search-placeholder">
                        <span class="icon-placeholder">
                            <i class="fa fa-search" (click)="searchInput.focus()"></i>
                        </span>
                        <input type="text" #searchInput 
                        name="search" 
                        placeholder="جستجوی محصول" 
                        [(ngModel)]="searchTxt">
                        <span class="icon-placeholder">
                            <i class="fa fa-times" (click)="clearSearch()"></i>
                        </span>
                    </div>
                </div> 
            </div>
        </div>
        <div *ngIf ="( products | filter : searchTxt) as result">
            <div class="row" *ngIf="result.length === 0">
                <div class="col-md-12">
                    <div class="alert alert-dark" role="alert">نتیجه ای یافت نشد!</div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2 list-key">
                    <app-quickkey (click)="addKey()"></app-quickkey>
                </div>
                <div class="col-md-2 list-item" 
                    *ngFor = "let product of result"
                    (click) = "addToCart(product)">
                    <a>
                        <span><img src="{{product.imageUrl}}" /></span>
                        <span class="name">{{product.name}}</span>
                        <span class="price">{{product.price | number:'1.0'}} T</span> 
                    </a>
                </div>
            </div>   
        </div> 
        <app-categories [data]="categories"></app-categories>
    </div>
</div>