.product-side{
    position: fixed;
    width: 70%;
    max-width: 70%;
    top:0;
    right:0;
    bottom: 0;
    direction: rtl;
    text-align: right;
    overflow: scroll;
    font-size: 12px;
    line-height:18px;
}
.list-item{
    position: relative;
    background-color: white;
    border: 1px solid #ccc;
    padding: 3px;
    margin-bottom: 10px;
}
    .list-item:hover,
    .list-item:focus{
        cursor: pointer;
    }
    .list-item .name{
        display: block;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden; 
    }
    .list-item .badge{
        display: block;
        position: absolute;
        top:10px;
        left:10px;
        font-size: 12px;
    }
.product-bar{
    border-bottom: 1px solid #ccc;
    margin-top: 5px;
    margin-bottom:20px;
}
    .product-bar div.d-flex{
        margin-top:5px;
        margin-bottom:10px;
    }
    .product-bar .search-placeholder{
        border:1px solid #ccc;
        padding:5px 10px;
        background-color: #fff;
    }
    .product-bar input{
        background-color: transparent;
        border: none;
        padding: 0px 10px;
    }
.alert{
    text-align:center;
}
.icon-placeholder{
    display: inline-block;
    width: 16px;
    height: 16px;
    color: #888;
}
    .icon-placeholder:hover{ 
        cursor: pointer;
        color: #999;
    }

@media screen and (max-width: 768px) and (min-width: 600px) {
    .product-side { width:50%; }
    .list-item, .list-key { width:50%; max-width: 50%; flex: 0 0 50%;}
}
@media screen and (max-width: 600px){
    .product-side { width:50%; }
}