
<div class="container" style="margin-top: 65px;">
    <div class="row payment-bar">
        <div class="col-md-6">
            <button class="btn-sm btn-primary" (click)="validate()">
                <span><i class="fa fa-arrow-right"></i></span>
                <span>فاکتور</span>
            </button>
        </div>
        <div class="col-md-6 text-left">
            <button class="btn-sm btn-secondary" (click)="goBack()">
                <span>بازگشت</span>
                <span><i class="fa fa-arrow-left"></i></span>
            </button> 
        </div>
    </div>
    <div class="row border">
        <div class="col-md-2 placeHolder">
            <div *ngFor="let type of paymentTypes"
            class="payment-methods"
            (click)="addPaymentLine(type)">
                <span>{{type}}</span>
            </div>
            <div class="payment-methods disabled"><span>کارت هدیه</span></div>
            <div class="payment-methods disabled"><span>چک</span></div>
        </div>
        <div class="col-md-7 border-right border-left">
            <div class="row">
                <div class="col-md-12">
                    <div class="payment-lines">
                        <span>{{invoice.paymentAmount | number:'1.0'}}</span>
                        <span>تومان</span>
                        <div 
                        *ngIf = "payment.length === 0; else paymentHolder">
                        لطفا یک روش پرداخت را انتخاب کنید!</div>
                    </div>
                    <ng-template #paymentHolder>
                        <table class="table table-borderless">
                            <thead>
                                <tr>
                                    <td width="25%">مبلغ</td>
                                    <td width="25%">دربافتی</td>
                                    <td width="25%">باقیمانده</td>
                                    <td width="20%">پرداخت</td>
                                    <td width="5%"></td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor = "let line of payment"
                                class="line"
                                [class.selected]="line === selectedLine"
                                (click)="selectLine(line)">
                                    <td>{{line.due | number:'1.0'}}</td>
                                    <td><input type="text" [(ngModel)]="line.tendered"></td>
                                    <td>{{line.change}}</td>
                                    <td>{{line.type}}</td>
                                    <td class="text-center"
                                    (click)="removePaymentLine(line)">
                                        <i class="fa fa-times-circle align-middle"></i>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </ng-template>
                </div>
            </div>
        </div>
        <div class="col-md-3 placeHolder">
            <div class="payment-method">
                <span><i class="fa fa-user-o"></i></span>
                <span *ngIf="!customer"
                (click)="addCustomer()">انتخاب مشتری</span>
                <span *ngIf="customer">
                    {{customer.firstName}} {{customer.lastName}}
                </span>
            </div>
            <div class="payment-method">
                <span><i class="fa fa-at"></i></span>
                <span>ارسال ایمیل</span>
            </div>
            <div class="payment-method active">
                <span><i class="fa fa-envelope-o"></i></span>
                <span>ارسال پیامک</span>
            </div>
        </div>
    </div>
</div>
