.container{
    direction: rtl;
    text-align: right;
}
.payment-bar{
    padding-top: 0.5rem;
    padding-bottom: 1rem;
}
button span{
    padding: 0px 0.2rem;
}
.payment-method{
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 1rem;
    background-color: #cfcfcf;
    font-size: 14px;
    margin-bottom: 1rem;
}
.payment-method:hover{
    background-color: #ccc;
    cursor: pointer;
}
    .payment-method span:first-child{
        display: inline-block;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        background-color: #f3f3f3;
        text-align: center;
        border: 1px solid #ccc;
        margin-left: .5rem;
        color: #888;
    }
    .payment-method i{
        line-height: 28px;
    }
.payment-method.active{
    background-color: #0075c4;
    border: 1px solid #0067a7;
    color: white;
}
    .payment-method.active span:first-child{
        border-color: #0067a7;
        color: #0075c4;
    }
.payment-methods .btn{
    margin:0px 10px;
}
.payment-amount{
    text-align: center;
    padding: 1rem 0;
}
.payment-amount .currency,
.payment-amount .amount{
    color: #0075c4;
}
.payment-amount .amount{
    font-size: 32px;
    text-shadow: 2px 2px 3px #fff;
}
.payment-methods{
    display: block;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 0.5rem;
    background-color: #cfcfcf;
    font-size: 14px;
    margin-bottom: 0.5rem;
}
/* .payment-methods:hover{
    cursor: pointer;
}
.payment-methods.disabled{
    color: #aaa;
} */
.placeHolder{
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.line{
    background-color: white;
    border-top: 1px solid #cfcfcf;
}
    .line input{
        border: none;
    }
.line.selected{
    background-color: #0075c4;
    color: white;
}
.payLines td, 
.payLines th{
    vertical-align: middle;
    padding-top: 1px;
    padding-bottom: 1px;
    font-size: 16px;
    line-height: 32px;
}
.payLines thead td{
    font-size: 12px !important;
}
.payLines i{
    font-size: 20px;
}