html, body { height: 100%; }
body{
    padding: 0px;
    margin: 0px;
    font-size: 12px;
    font-family: 'sans' !important;
    background-color: #f0f0f0 !important;
}
@font-face{
    font-family: 'sans';
    src:url('assets/fonts/IRANSansWeb.ttf'),
        url('assets/fonts/IRANSansWeb_Bold.ttf'),
        url('assets/fonts/IRANSansWeb_Light.ttf');
}
ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
}
img{
    max-width: 100%;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
@media print{
    body *{
        visibility: hidden;
    }  
    .print-container, .print-container * {
        visibility: visible;
    }
    .print-container{
        position: absolute;
        top: 0px;
        left: 0px;
    }
}